# localhost

localhost.host = localhost
localhost.port = 5432
localhost.localport = 15432
localhost.user = ...
localhost.dbuser = ...
localhost.dbschema = ...
localhost.dbdatabase = ...
localhost.dns = localhost

# dev

dev.host = ...
dev.port = ...
dev.localport = ...
dev.user = ...
dev.dbuser = ...
dev.dbschema = ...
dev.dbdatabase = ...
dev.localhost = dev.company.com

# production

...
