# localhost

localhost.remote = false
localhost.host = localhost
localhost.dbport = 5432
localhost.localport = 15432
localhost.user = ...
localhost.admin = ...
localhost.dbuser = ...
localhost.dbschema = ...
localhost.dbdatabase = ...
localhost.dbtestdatabase = ...
localhost.dns = localhost

# dev

dev.remote = true
dev.host = ...
dev.dbport = ...
dev.localport = ...
dev.user = ...
dev.dbuser = ...
dev.dbschema = ...
dev.dbdatabase = ...
dev.dns = dev.company.com
dev.datafolder = /tmp/...
dev.permuser = ...
dev.permgroup = ...
dev.permuploaders = ...

# production

...
